<h1>Maps Sandbox</h1>

<p>Got rid of some vulnerabilities and upgraded the stack on 01/05/2020<br>
    And now we build!...   </p>

<h2>Leaflet.draw working!!!...</h2>
Demo => <a href="http://leaflet.github.io/Leaflet.draw/" target="_blank">Leaflet.draw demo here!</a>
<br><br>
<p>leaflet.draw source code: <a href="https://github.com/Leaflet/Leaflet.draw" target="_blank">https://github.com/Leaflet/Leaflet.draw</a></p>
<br><br>
<h3>What we have here is very cool. Cheers!</h3>